export(gammaWeights, gammaKernel, gammaQuantile, tsEM, unirootTest, gammadlm, lagCoef)

S3method(vcov, gammadlm)
S3method(summary, gammadlm)
S3method(plot, gammadlm)
S3method(residuals, gammadlm)
S3method(fitted, gammadlm)
S3method(print, unirootTest)
S3method(print, summary.gammadlm)

importFrom("grDevices", "adjustcolor", "n2mfrow")
importFrom("graphics", "abline", "box", "grid", "legend", "lines", "par", "polygon")
importFrom("stats", "approx", "embed", "formula", "lm", "vcov", "BIC", "nobs", "predict",
           "model.matrix", "na.omit", "pf", "pt", "var", "qnorm", "pnorm",
           "residuals.lm", "fitted.values", "logLik", "spline", "summary.lm")
importFrom("utils", "flush.console")